In [2]:
import parser

In [4]:
parser.parse_data_folder("../data")

,property_id,date_obtained,price,property_type,livable_area,heating_type,has_photovoltaic_panels,has_double_glazing,number_of_rooms,number_of_bathrooms,...,postal_code,latitude,longitude,year_built,building_condition,floor_number,total_floors,property_size,flood_zone_type,cadastral_income
0,11326221,19052024,279000,APARTMENT,94.0,GAS,False,True,9.0,1.0,...,9040,51.073625,3.747233,1965.0,GOOD,None,NaN,NaN,NON_FLOOD_ZONE,686
1,11386911,19052024,1090000,HOUSE,NaN,None,False,True,11.0,2.0,...,9820,51.025043,3.748909,NaN,None,None,NaN,1387.0,NON_FLOOD_ZONE,0
2,11376909,19052024,269000,APARTMENT,99.0,None,False,True,12.0,1.0,...,9050,51.038280,3.747692,1960.0,TO_BE_DONE_UP,None,NaN,NaN,NON_FLOOD_ZONE,0
3,11362707,19052024,563000,HOUSE,187.0,None,None,True,1.0,1.0,...,9000,51.026915,3.707021,1954.0,GOOD,None,NaN,230.0,None,937
4,11361176,19052024,995000,HOUSE,NaN,ELECTRIC,False,False,NaN,NaN,...,9000,51.053580,3.714567,NaN,None,None,3.0,130.0,None,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2379,11340880,19052024,399000,APARTMENT,138.0,GAS,False,True,10.0,1.0,...,9040,51.061434,3.751625,2009.0,AS_NEW,None,NaN,NaN,NON_FLOOD_ZONE,0
2380,11374289,18052024,299000,HOUSE,263.0,GAS,False,True,10.0,1.0,...,9032,51.090303,3.716713,NaN,TO_BE_DONE_UP,None,NaN,137.0,NON_FLOOD_ZONE,451
2381,11374289,16052024,299000,HOUSE,263.0,GAS,False,True,10.0,1.0,...,9032,51.090303,3.716713,NaN,TO_BE_DONE_UP,None,NaN,137.0,NON_FLOOD_ZONE,451
2382,11374289,19052024,299000,HOUSE,263.0,GAS,False,True,10.0,1.0,...,9032,51.090303,3.716713,NaN,TO_BE_DONE_UP,None,NaN,137.0,NON_FLOOD_ZONE,451
2383,11136161,19052024,249000,APARTMENT,66.0,GAS,False,True,NaN,1.0,...,9000,51.073445,3.712818,1965.0,GOOD,None,NaN,NaN,NON_FLOOD_ZONE,0

In [5]:
_4.date_obtained.unique()

array(['19052024', '18052024', '16052024', '21052024'], dtype=object)